body {
    background-color: #3d5a80;
  }
  
  header {
    font-size: 30px;
    text-align: center;
    background-color: #4a4e69;
  }
  
  section {
    text-align: center;
  }
  .game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 250px auto;
    padding-right: 250px;
  }
  .cell {
    background-color: #84a59d;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 2px #333333;
    border: 3px solid #333333;
    line-height: 100px;
  }